/*INDEX PAGE*/
body{
    margin: 0px;
    background-color: rgb(101, 152, 101);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}
.reportbutton{
    display: block;
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(32, 61, 32);
    padding: 15px;
    max-width: 120px;
}
.reportbutton a{
    color: white;
    text-decoration: none;
    overflow: hidden;
}
.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.image-column{
    background-image: url("lwkagecko.jpeg") ;
    height: 700px;
    width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-column{
    color: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    margin-left: 10px;
    top: 80px;
    width: 100%;
    font-size: 1rem;
}
.flash{
    list-style-type: none;
    background-color: #ffde3a;
    box-shadow: #222 5px, 5px, 10px;
    max-width: 16rem;
    padding: 10px;
    margin-left: 6.3rem;
}
.flash-message{
    color: rgb(0, 0, 0);
}


/*NAVBAR*/
.navbar ul{
    list-style-type: none;
    background-color: rgb(32, 61, 32);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(21, 41, 21);
}
.navbar li{
    float: right;
}


/*SIGNUP*/
.signup-container{
    color: rgb(255, 255, 255);
   height: 300px;
   width: 500px;
   padding: 100px;
   border-radius: 8px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    float: right;
}
.input-group{
    margin-bottom: 15px;
}
label{
    font-weight: bold;
}
input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
button{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color:#007bff;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}


/*LOGIN*/
.login-container{
   color: rgb(255, 255, 255);
   height: 300px;
   width: 500px;
   padding: 100px;
   border-radius: 8px;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.input-group{
    margin-bottom: 15px;
}
label{
    font-weight: bold;
}
input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
button{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color:#007bff;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
.redirect{
    margin-top: 16px;
}
a{
    color: rgb(21, 41, 21);
}

/*REPORT*/
.report-container{
   color: rgb(255, 255, 255);
   height: 300px;
   width: 500px;
   padding: 100px;
   border-radius: 8px;
}
.report-form{
    display: flex;
    flex-direction: column;
}
.input-group{
    margin-bottom: 15px;
}
label{
    font-weight: bold;
}
input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
button{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color:#007bff;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
.redirect{
    margin-top: 16px;
    padding-bottom: 1rem;
}
a{
    color: rgb(21, 41, 21);
}

/*SPECIES FINDER*/
.speciestext{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 1rem;
}
.two-column{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.padding{
    padding-left: 10rem;
}
.img1{
    background-image: url("brothersislandtuatara.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    background-image: url("chevronskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    background-image: url("grandskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img4{
    background-image: url("macgregorsskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img5{
    background-image: url("otagoskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img6{
    background-image: url("robustskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img7{
    background-image: url("screeskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img8{
    background-image: url("smallscaledskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img9{
    background-image: url("stephensislandgecko.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img10{
    background-image: url("stripedskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img11{
    background-image: url("tuatara.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.img12{
    background-image: url("whitakersskink.jpg") ;
    height: 250px;
    width: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    color: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    margin-left: 10px;
    top: 80px;
    width: 100%;
    font-size: 1rem;
}