body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(32, 61, 32);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(21, 41, 21);
}

.navbar li{
    float: right;
}

.hero-image{
    background-image: url("lwkagecko.jpeg") ;
    height: 352px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color: white;
    position: relative;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 2rem;
}