body{
    margin: 0px;
    background-color: rgb(101, 152, 101);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reportbutton{
    display: block;
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(32, 61, 32);
    padding: 15px;
    max-width: 120px;
}

.reportbutton a{
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(32, 61, 32);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(21, 41, 21);
}

.navbar li{
    float: right;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.image-column{
    background-image: url("lwkagecko.jpeg") ;
    height: 700px;
    width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-column{
    color: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    margin-left: 10px;
    top: 80px;
    width: 100%;
    font-size: 1rem;
}

.signup-container{
   color: rgb(255, 255, 255);
   height: 300px;
   width: 500px;
   padding: 100px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form{
    display: flex;
    flex-direction: column;
}

.input-group{
    margin-bottom: 15px;
}

label{
    font-weight: bold;
}

input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color:#007bff;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}