{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="two-column">
        <div class="image-column">
            <img>
        </div>
        <div class="text-column">
           <h1>Seen an endangered species?</h1>
           <p>lorem ipsum paragraph blah blah blah proper name place name backstory stuff</p>
           <li class="reportbutton"><a href="report">Make a Report</a></li>
        </div>
    </div> 
</body>

{% endblock %}