{% extends 'base.html' %}
{% block content %}

<main>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <section class="hero-image">
        <h1 class="hero-text">
            Seen an endangered species?
        </h1>
        <h2 class="hero-text">
            Say something.
        </h2>
    </section>
    <section><div class="image">
            <img src="lwkagecko.jpeg" alt="gecko">
        </div>
    </section>
    <h3>uhh homepage ig</h3>

</body>
</main>

{% endblock %}