{% extends 'base.html' %}
{% block content %}

<!-- links to style.css for styling -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<!-- adds text and image side by side at an even scale. just image and single text line to keep simplicity -->
<body>
    <div class="speciestext">
        <h1>Species Finder</h1>
        <h2>Not sure what species you're reporting?</h2>
    </div>
    <div class="two-column">
        <div class="padding">
            <div class="img1">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Brother's Island Tuatara (Sphenodon guntheri)</h3>
        </div>

        <div class="padding">
            <div class="img2">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Chevron Skink (Oligosoma homalonotum)</h3>
        </div>

        <div class="padding">
            <div class="img3">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Grand Skink (Oligosoma Grande)</h3>
        </div>
        
        <div class="padding">
            <div class="img4">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Macgregor's Skink (Cyclodina macgregori)</h3>
        </div>
        
        <div class="padding">
            <div class="img5">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Otago Skink (Oligosoma otagense)</h3>
        </div>
        
        <div class="padding">
            <div class="img6">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Robust Skink (Cyclodina alani)</h3>
        </div>
        
        <div class="padding">
            <div class="img7">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Scree Skink (Oligosoma waimatense)</h3>
        </div>
        
        <div class="padding">
            <div class="img8">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Small-scaled Skink (Oligosoma microlepis)</h3>
        </div>
        
        <div class="padding">
            <div class="img9">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Stephen's Island Gecko (Toropuku stephensi)</h3>
        </div>
        
        <div class="padding">
            <div class="img10">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Striped Skink (Oligosoma striatum)</h3>
        </div>
        
        <div class="padding">
            <div class="img11">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Tuatara (Sphenodon punctatus)</h3>
        </div>
        
        <div class="padding">
            <div class="img12">
                <img>
            </div>
        </div>
        <div class="text">
           <h3>Whitaker's Skink (Cyclodina whitakeri)</h3>
        </div>
    </div> 
</body>

{% endblock %}